@import "tailwindcss";

.portfolio-container {
    width: 100%;
    margin-top: 0px; 
    right: 0;
    
}
mat-card-header {
    min-height: 100px;  
    font-size: 24px; 
}

.text-content{
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 18px;
}
h2 {
    font-size: 24px; /* Pas de grootte aan */
   
}

.custom-button{
    border-radius: 8px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}
  
  .custom-button:hover {
    transform: scale(1.05);
  }
  



