@import "tailwindcss";

mat-panel-title {
    padding-top: 10px; 
    padding-bottom: 10px; 
  }

  mat-progress-bar {
    margin-bottom: 10px; 
  }

  mat-expansion-panel {
    max-height: 500px; 
 
  }

  mat-card-content {
    padding: 16px; 
  }
  
  
  