<mat-toolbar color="primary">
  <button mat-button class="logo-button" (click)="goToPage('/')">
    <img src="./marijn-logo.png" alt="Logo" class="logo">
  </button>
    <span class="spacer"></span>
    <button mat-button (click)="goToPage('/')" class="mr-2">Home</button>
    <button mat-button (click)="goToPage('/vaardigheden')"class="mr-2">Vaardigheden</button>
    <button mat-button (click)="goToPage('/projecten')" class="mr-2">Projecten</button>
    <button mat-button (click)="goToPage('/contact')">Contact</button>
  </mat-toolbar>
